@import "tailwindcss";

/* Scan all theme PHP files for Tailwind class names */
@source "../../**/*.php";

/* Brand Theme */
:root {
  --color-primary: #004a98;
  --color-secondary: #003d7d;
  --color-lightgray: #f8fafc;
  --color-accent: #10b981;
  --color-background: #ffffff;
  --color-text: #111111;

  --max-container-width: 1440px;
  --max-container-width-sm: 1280px;
  --max-container-width-xs: 1024px;

  --general-gradient: linear-gradient(0deg,rgba(168,168,168,1) 1.5%,rgba(255,255,255,1) 100%);

  --image-shadow: 5px 5px 0 0 var(--color-primary);
}

/* Extending Tailwind's default theme */
@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-secondary {
    background-color: var(--color-secondary);
  }
  .bg-accent {
    background-color: var(--color-accent);
  }
  .text-primary {
    color: var(--color-primary);
  }
  .text-secondary {
    color: var(--color-secondary);
  }
  .text-accent {
    color: var(--color-accent);
  }
  .section-container {
    @apply max-w-[var(--max-container-width)] mx-auto w-[90%];
  }
  .section-container--sm {
    @apply max-w-[var(--max-container-width-sm)] mx-auto w-[90%];
  }
  .section-container--xs {
    @apply max-w-[var(--max-container-width-xs)] mx-auto w-[90%];
  }

  .section-title {
    @apply relative inline-block text-4xl w-fit font-bold mb-10 before:content-[''] before:block before:w-12 before:h-1 before:bg-primary before:absolute before:-bottom-2 before:left-0;
  }
}

@theme {
  --breakpoint-menu: 1180px;

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-lightgray: var(--color-lightgray);
}
